[Desktop Entry]
Name=OpenQLab
GenericName=Show Control Software
Comment=Cue-based show control for audio, video and lighting
Exec=oql
Icon=oql
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;
Keywords=cue;show;audio;theater;stage;
StartupWMClass=openqlab
